<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blctek.upload.mapper.CarMapper">
    <select id="selectAllCarAndDriver" resultMap="CarMap">
        SELECT
            *
        FROM
            car c,
            driver d
        WHERE
            c.driverId=d.driverId
    </select>
    <resultMap id="CarMap" type="cn.blctek.upload.pojo.Car">
        <id column="carId" property="carId"/>
        <result column="type" property="type"/>
        <result column="chipId" property="carId"/>
        <result column="driverId" property="driverId"/>
        <association property="driver" javaType="cn.blctek.upload.pojo.Driver">
            <id column="driverId" property="driverId"/>
            <result column="driverName" property="driverName"/>
            <result column="driverPhone" property="driverPhone"/>
        </association>
    </resultMap>
    <insert id="insertCar" parameterType="cn.blctek.upload.pojo.Car"
            keyProperty="carId" useGeneratedKeys="true">
        INSERT INTO
            car
            (type,driverId,chipId)
        VALUES
            (#{type},#{driverId},#{chipId})
    </insert>
</mapper>