<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blctek.upload.mapper.DriverMapper">
    <select id="selectAllDriver" resultType="cn.blctek.upload.pojo.Driver">
        SELECT
            *
        FROM
            driver
    </select>
    <insert id="insertDriver" parameterType="cn.blctek.upload.pojo.Driver"
            keyProperty="driverId" useGeneratedKeys="true">
        INSERT INTO
            driver
            (driverName,driverPhone)
        VALUES
            (#{driverName},#{driverPhone})
    </insert>
    <update id="updateDriver" parameterType="cn.blctek.upload.pojo.Driver">
        UPDATE
            driver
        <trim prefix="set" suffixOverrides=",">
            <if test=" driverName!=null and driverName!='' ">
                driverName=#{driverName}
            </if>
            <if test=" driverPhone!=null and driverPhone!='' ">
                driverPhone=#{driverPhone}
            </if>
        </trim>
        WHERE
            driverId=#{driverId}
    </update>
    <delete id="deleteDriver" parameterType="integer">
        DELETE FROM driver WHERE driverId=#{driverId}
    </delete>
</mapper>