<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blctek.upload.mapper.MachineMapper">
    <select id="selectAllMachine" resultMap="MachineMap">
        SELECT
            *
        FROM
            machine m,
            car c
        WHERE
            m.carId=c.carId
    </select>
    <resultMap id="MachineMap" type="cn.blctek.upload.pojo.Machine">
        <id property="machineId" column="machineId"/>
        <result property="machineNumber" column="machineNumber"/>
        <result property="machineType" column="machineType"/>
        <result property="engineNumber" column="engineNumber"/>
        <association property="car" javaType="cn.blctek.upload.pojo.Car">
            <id property="carId" column="carId"/>
            <result property="type" column="type"/>
            <result property="chipId" column="chipId"/>
            <result property="driverId" column="driverId"/>
        </association>
    </resultMap>
    <insert id="insertMachine" parameterType="cn.blctek.upload.pojo.Machine"
            keyProperty="machineId" useGeneratedKeys="true">
        INSERT INTO
            machine
            (carId,machineNumber,machineType,engineNumber)
        VALUES
            (#{carId},#{machineNumber},#{machineType},#{engineNumber})
    </insert>
</mapper>