<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.blctek.upload.mapper.MachineMapper">
    <select id="selectAllMachineAndCarAndDriver" resultMap="MachineMap">
        SELECT
            *
        FROM
            machine m,
            car c,
            driver d
        WHERE
            m.carId=c.carId
        AND
            c.driverId=d.driverId
    </select>
    <resultMap id="MachineMap" type="cn.blctek.upload.pojo.Machine">
        <id property="machineId" column="machineId"/>
        <result property="machineNumber" column="machineNumber"/>
        <result property="machineModel" column="machineModel"/>
        <result property="engineNumber" column="engineNumber"/>
        <result property="carId" column="carId"/>
        <association property="car" javaType="cn.blctek.upload.pojo.Car">
            <id property="carId" column="carId"/>
            <result property="type" column="type"/>
            <result property="chipId" column="chipId"/>
            <result property="driverId" column="driverId"/>
        </association>
        <association property="driver" javaType="cn.blctek.upload.pojo.Driver">
            <id column="driverId" property="driverId"/>
            <result column="driverName" property="driverName"/>
            <result column="driverPhone" property="driverPhone"/>
        </association>
    </resultMap>
    <insert id="insertMachine" parameterType="cn.blctek.upload.pojo.Machine"
            keyProperty="machineId" useGeneratedKeys="true">
        INSERT INTO
            machine
            (carId,machineNumber,machineModel,engineNumber)
        VALUES
            (#{carId},#{machineNumber},#{machineModel},#{engineNumber})
    </insert>
    <update id="updateMachine" parameterType="cn.blctek.upload.pojo.Machine">
        UPDATE 
            machine
        <trim prefix="set" suffixOverrides=",">
            <if test=" carId!=null and carId!='' ">
                carId=#{carId}
            </if>
            <if test=" machineNumber!=null and machineNumber!='' ">
                machineNumber=#{machineNumber}
            </if>
            <if test=" engineNumber!=null and engineNumber!='' ">
                engineNumber=#{engineNumber}
            </if>
            <if test=" machineModel!=null and machineModel!='' ">
                machineModel=#{machineModel}
            </if>
        </trim>
        WHERE
            machineId=#{machineId}
    </update>
    <delete id="deleteMachine" parameterType="integer">
        DELETE FROM machine WHERE machineId=#{machineId}
    </delete>
</mapper>